@font-face {
  font-family: 'Roboto';
  src: url(../asset/fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:active {
  opacity: 50%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #C5D0E6;
  transition: all 1s ease-in-out;
}
.dark {
  background-color: #000010;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.todoapp {
  width: 550px;
  height: auto;
  margin-top: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  backdrop-filter: opacity(20%);
}
@media screen and (max-width: 550px) {
  .todoapp {
    width: 360px;
  }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .title {
  color: #C5D0E6;
  font-size: 96px;
  font-weight: 200;
}
.header .new-todo {
  position: relative;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  padding: 16px 16px 16px 60px;
  align-self: stretch;
  outline: none;
  border: none;
  background: inherit;
}
.header .new-todo::placeholder {
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
}
.content {
  width: 100%;
  visibility: hidden;
}
.content .toggle-all,
.content .item-checkbox {
  display: none;
}
.content .toggle-check {
  position: relative;
  color: #d9d9d9;
  cursor: pointer;
}
.content .toggle-check::before {
  position: absolute;
  top: -30px;
  left: 30px;
  z-index: 1;
  font-size: 24px;
  color: inherit;
  content: '❯';
  transform: rotate(90deg);
}
.content .toggle-check:hover {
  color: #4d4d4d;
}
.content .items-list {
  list-style: none;
}
.content .items-list li {
  display: flex;
}
.content .items-list .not-visible {
  display: none;
}
.content .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #C5D0E6;
}
.content .item-check {
  position: relative;
  cursor: pointer;
}
.content .item-check::before {
  position: absolute;
  top: -10px;
  left: 25px;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 2px solid #4d4d4d;
  content: "";
  transition: all 0.3s ease-in-out;
}
.content .item-checkbox:checked ~ label::before {
  width: 21px;
  height: 10px;
  border-color: #C5D0E6;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}
.content .item-checkbox:checked ~ [class$="todo"] {
  color: #d9d9d9;
  text-decoration: line-through 2px;
}
.content .item-todo {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  width: 95%;
  padding: 16px 16px 16px 60px;
  word-wrap: break-word;
  transition: all 0.3s ease-in-out;
}
.content .item-destroy {
  margin-right: 10px;
  font-size: 24px;
  color: #d21616;
  background: inherit;
  border: none;
  transform: rotate(45deg);
  filter: opacity(20%);
  cursor: pointer;
}
.content .item-destroy:hover {
  filter: opacity(1);
}
.content .edit {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  width: 100%;
  display: none;
  padding: 16px 16px 16px 60px;
  align-self: stretch;
  outline: none;
  border: none;
  background: inherit;
  border-top: 1px solid #C5D0E6;
}
.content .edited .item {
  display: none;
}
.content .edited .edit {
  display: block;
}
.content_show {
  visibility: visible;
}
.footer {
  width: 100%;
  padding: 15px;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #C5D0E6;
}
.footer p,
.footer a {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
.footer .buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .buttons .btn {
  padding: 3px;
}
.footer .buttons .btn:hover {
  text-decoration: none;
  outline: 1px solid #C5D0E6;
  border-radius: 2px;
}
.footer .buttons .active {
  color: #C5D0E6;
  outline: 1px solid #C5D0E6;
  border-radius: 2px;
}
.footer_show {
  display: flex;
}
.info {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.info p {
  color: #7a7a7a;
  font-size: 10px;
  font-weight: 200;
  text-shadow: 0 1px 0 #d9d9d9;
}
.info a:hover {
  text-decoration: underline;
}
.ufo {
  position: absolute;
  width: 100px;
  height: 90px;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  background-color: #c1cfea;
  mask-image: url('../asset/ufo.svg');
  -webkit-mask-image: url('../asset/ufo.svg');
  mask-size: 100px 90px;
  -webkit-mask-size: 100px 90px;
  transition: all 600ms ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 1023.98px) {
  .ufo {
    display: none;
  }
}
.rain {
  position: absolute;
  left: 0;
  top: 0;
}
